---

- name: Install/update packages
  chocolatey.chocolatey.win_chocolatey:
    name: "{{ item.name | default(item) }}"
    version: "{{ item.version | default(omit) }}"
    state: >-
      {%- if item.state is defined -%}
      {{ item.state }}
      {%- else -%}
      {{ 'latest' if chocolatey_package_update | bool else 'present' }}
      {%- endif -%}
    proxy_url: "{{ item.proxy_url | default(chocolatey_proxy_url) | default(omit) }}"
    ignore_checksums: "{{ item.ignore_checksums | default(omit) }}"
  loop: "{{ chocolatey_packages }}"
